<br>
<h4> Login Here!! </h4>
<br>
<div class="row">
  <div class="col-md-12">
      <form action="" method="post" #form="ngForm" (ngSubmit)="signin(form)" novalidate>

        <!-- input email -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" [(ngModel)]="user.email" #email="ngModel" class="form-control" required email>

            <div class="error" *ngIf="form.submitted && email.invalid">
              <p class="alert alert-danger" *ngIf="email.errors.required"> Email has required </p>
              <p class="alert alert-danger" *ngIf="email.errors.email">Invalid Email!!</p>
            </div>

        </div>

        <!-- input password -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" name="password" id="password" [(ngModel)]="user.password" #password="ngModel" class="form-control" required minlength="3">

            <div class="error" *ngIf="form.submitted && password.invalid">
                <p class="alert alert-danger" *ngIf="password.errors.required"> Invalid Password!! </p>
                <p class="alert alert-danger" *ngIf="password.errors.minlength"> Minimum password is 3 </p>
            </div>

        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-sm"> Enter </button>
        </div>
      </form>
  </div>
</div>


